@model UDShortURL.Models.DsShortUrl

@{
    ViewData["Title"] = "XÓA";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/delete.css">

</head>
<header>
    <h2>Trang xóa</h2>
</header>

<div class="container">
    <h3>Bạn có chắc chắn muốn xóa không? </h3>
    <div>

        <hr />

        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LongUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.ShortUrl1)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                    <th>@Html.DisplayNameFor(model => model.ExpiredTime)</th>
                    <th>@Html.DisplayNameFor(model => model.RedirectCount)</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><a href="@Model.LongUrl">@Model.LongUrl</a></td>
                    <td><a href="@Model.ShortUrl1">@Model.ShortUrl1</a></td>
                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                    <td>@Html.DisplayFor(model => model.ExpiredTime)</td>
                    <td>@Html.DisplayFor(model => model.RedirectCount)</td>
                </tr>
            </tbody>
        </table>
        <div class="button-container">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn-list" />
                <a asp-action="Index1" class="btn-list">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>